.solution {
  background-image: url(../assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 80px;
}
.kicker {
  font-size: 1rem;
  color: var(--brand-green-500);
  font-weight: 600;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  gap: 10px;
}
.solution ul li {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
}
.solution ul {
  padding-top: 20px;
}
.solution h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  padding-top: 10px;
}
.solution .card {
  padding: 30px 50px !important;
  border-radius: 30px;
  background-color: white;
}
.buttonsol {
  background-color: #00894f !important;
  border-radius: 30px !important;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .solution h1 {
    font-size: 1.5rem;
  }
  .solution {
    padding: 40px 0px;
  }
  .kicker {
    padding-top: 15px;
    font-size: 0.8rem;
  }
  .solution ul li {
    font-size: 15px;
  }
}
