.cardContent {
  background-color: white;
  border-radius: 25px;
  padding: 40px 20px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  height: 100%;
}
.CustomCare {
  text-align: center;
  margin-top: 80px !important;
}
.imageRounded {
  border-radius: 30px;
  object-fit: cover;
  height: 100%;
}

.cardContent {
  padding: 15px;
}
.cardContent p {
  font-size: 0.8rem;
  line-height: 18px;
}

.roundedCircle {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.FormSec .cardBox {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/backcontact.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 120px 00px;
}
.FormSec .FormQuote {
  background-color: #f3fffa;
  border: none;
  color: #8f8f8f !important;
  font-size: 14px;
  border-radius: 30px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FormSec .FormQuote span {
  font-size: 16px;
  width: 90%;
  font-weight: 800;
}
.FormSec {
  overflow: hidden;
}
.spanlabel {
  color: #bcbcbc;
  font-size: 10px;
  position: relative;
  left: 15px;
  margin-bottom: 0px;
}
.inputQuote,
.selectQuote {
  background-color: #f3fffa !important;
  border: none !important;
  color: #8f8f8f !important;
  font-size: 14px !important;
  /* padding: 20px !important; */
  height: 50px;
  border-radius: 30px;
  padding-left: 20px;
}
.inputQuote::placeholder {
  color: #8f8f8f !important;
  font-size: 14px;
}
.buttonQuote {
  border: 1px solid #15925d !important;
  background-color: white !important;
  color: #15925d !important;
  border-radius: 10px !important;
  font-size: 14px !important;
}
.buttonQuote2 {
  border: 1px solid #15925d !important;
  background-color: #15925d !important;
  color: white !important;
  border-radius: 10px !important;
  font-size: 14px !important;
}
.buttonQuote:hover {
  color: #15925d !important;
}
.Checkboxes p {
  font-size: 9px;
  line-height: 10px !important;
  padding-top: 15px;
}
.Checkboxes {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  padding-left: 20px;
}
.Checkboxes input[type="checkbox" i] {
  background-color: #15925d !important;
}
.contactInfo div {
  margin-bottom: 10px;
}

.copyButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0;
}

.copyButton:hover {
  text-decoration: underline;
}

.buttonsquote {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

@media all and (min-width: 300px) and (max-width: 769px) {
  .buttonsquote {
    display: block;
  }
  .buttonsquote button {
    width: 100%;
    margin-bottom: 10px;
  }
}
